.currency-panel {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 28rem;

    h3 {
        background-color: #778899;
        color: white;
        margin: 0;
        text-align: center;
    }

    .price-tags {
        background-color: #D3D3D3;
        display: grid;
        grid-template-columns: 1fr 1rem 1fr;
    }


    price-tag {
        display: flex;
        margin: .5rem 1rem;
        border: solid #696969 .1rem;
        border-radius: .5rem;
        box-sizing: border-box;

        &:hover {
            color: white;
            border: solid #33FFFF .2rem;
            margin: .4rem .9rem;
        }
    }

    .sell-price-tag { 
        color: #FF3355;
        border-radius: 5rem / 3rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;

        &:hover {
            background-color: #FF3355;
        }
    }

    .buy-price-tag {
        justify-content: flex-end;
        color: #0F892F;
        border-radius: 5rem / 3rem;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;

        &:hover {
            background-color: #0F892F;
        }

        ::ng-deep {
            .currency {
                justify-content: flex-end;
            }
        }
    }
    
    .tendency {
        width: 0; 
        height: 0; 
        transform: rotateY(180deg);
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: 1rem solid transparent;
        margin-top: .5rem;
    
        &.down {
            border-top-color: red;
        }
    
        &.up {
            transform: rotate(180deg);
            border-top-color: green;
        }
    }
}

