// Variables
$red-color: #d42920;
$green-color: #7b983c;

.currency-panel {
    display: grid;
    font-family: Arial, Helvetica, sans-serif;
    grid-template-columns: 28rem;

    h2 {
        background-color: #6e6e6f;
        color: white;
        margin: 0;
        padding: .4rem;
        text-align: center;
    }

    .price-tags {
        background-color: #f3f3f4;
        display: grid;
        grid-template-columns: 1fr 1rem 1fr;
        padding-bottom: 2.4rem;
    }


    price-tag {
        display: flex;
        margin: .5rem 1rem;
        border: solid #696969 .1rem;
        border-radius: .5rem;
        box-sizing: border-box;
        font-weight: bold;

        &:hover {
            color: white;
            border: solid #33FFFF .2rem;
            margin: .4rem .9rem;
        }
    }

    .sell-price-tag { 
        color: $red-color;
        border-radius: 5rem / 3rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;

        &:hover {
            background-color: lighten($red-color, 10%);
        }
    }

    .buy-price-tag {
        justify-content: flex-end;
        color: $green-color;
        border-radius: 5rem / 3rem;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;

        &:hover {
            background-color: lighten($green-color, 10%);
        }

        ::ng-deep {
            .currency {
                justify-content: flex-end;
            }
        }
    }
    
    .tendency {
        width: 0; 
        height: 0; 
        transform: rotateY(180deg);
        border-left: .5rem solid transparent;
        border-right: .5rem solid transparent;
        border-top: 1rem solid transparent;
        margin-top: .5rem;
    
        &.down {
            border-top-color: red;
        }
    
        &.up {
            transform: rotate(180deg);
            border-top-color: green;
        }
    }
}

