h1 {
    text-align: center;
}

.currency-panels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    currency-panel {
        border-radius: .3rem;
        margin: 1rem;
    }
}

.error-message {
    color: red;
    font-size: 2rem;
    text-align: center;
}