.price-tag {
    border: .2rem;
    display: inherit;
    flex-direction: column;
    padding: .5rem;

    .currency {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        margin: .5rem;
    }

    .price {
        display: flex;
        flex-direction: row;
        font-size: 1.4rem;
        
        :nth-child(1) {
            align-self: flex-end;
            margin: .3rem;
        }

        :nth-child(2) {
            font-size: 2.5rem;
        }
    }
}
